body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.container {
	border: 1px solid black;
	display: inline-block;
	padding: 30px;
	margin: 0 auto;
}

h1, .results {
	display: inline;
}

h1 {
	font-weight: 600;
	color: #68D89B;
}

.results {
	font-weight: 300;
	margin: 0 10px;
}

.dolla {
	margin-right: 4px;
	font-size: 17px;
}

.error {
	margin-top: 3px;
	height: 10px;
	color: #FF715B;
	text-align: center;
	font-size: 12px;
}

h5 {
	font-size: 10px;
}

h3 {
	margin: 15px 0 5px 0;
	font-weight: 300;
}

input:focus {
	outline: none;
}

form {
	margin-top: 10px;
	text-align: left;
}

.bill-subtotal h3,
.bill-subtotal input,
.label {
	display: inline-block;
}

input.subtotal {
	width: 60px;
	height: 25px;
	font-size: 14px;
}

input.split {
	width: 60px;
	height: 25px;
	font-size: 14px;
	float: right;
	margin: 15px 0 0 0;
}

.sub {
	float: right;
}

.label {
	margin: 5px 10px 5px 0px;
}

input.custom {
    width: 30px;
    height: 25px;
    margin: 10px 0px;
    font-size: 14px;
}


input[type=submit] {
    background-color: #68D89B;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #68D89B;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #68D89B;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}


